{layout name="layout" /}

<body class="fixed-top">


        {include file="public/menu" /}
        
        <div id="body">

            <div id="widget-config" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                    <h3>Widget Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here will be a configuration form</p>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="{:url('Index/index')}">首页</a> 
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="javascript:void(0)">桌面</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row-fluid" style="text-align:center;">
                    <br /><br /><br /><br /><br />
                    <h1>欢迎使用仓库管理系统</h1>
                </div>    
            </div>  
        </div>

    </div>
    
    <div id="footer">
    
    2017 &copy; 仓储管理系统V4.0 &nbsp;
    <div class="span pull-right">
        <span class="go-top"><i class="icon-arrow-up"></i></span>
    </div>
</div>


<!-- <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.jbox-2.3.min.js"></script>

<script src="js/breakpoints.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/83c2adbd06df44d0a416deff61b238c7.js"></script>
<script src="js/wdatepicker.js"></script>
<script src="js/git.framework.common.js"></script>
<script src="js/git.framework.uicommon.js"></script> -->



    <script>
      jQuery(document).ready(function() {       
         App.init();
      });
   </script>