{layout name="layout" /}
	

	<!-- main -->
			<div class="jumbotron">

				<h1>Layout API</h1>
				
				<p>
					Xenon Theme layout can be combined in many variants with sidebar and horizontal menu and offers a set of toggles (links) to manipulate with the theme layout. These features are enabled if you import <code>js/xenon-toggles.js</code> script in the document.
				</p>
				
				<br />
				<a class="btn btn-primary btn-lg" href="#layout-variants" role="button">See Layout Variants</a>
			</div>
	<!-- main -->	

			
