				<ul id="main-menu" class="main-menu">
					<!-- add class "multiple-expanded" to allow multiple submenus to open -->
					<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
					<li>
						<a href="dashboard-1.html">
							<i class="linecons-cog"></i>
							<span class="title">控制台</span>
						</a>
						<ul>
							<li>
								<a href="">
									<span class="title">控制台 1</span>
								</a>
							</li>
						</ul>
					</li>
					<li >
						<a href="layout-variants.html">
							<i class="linecons-desktop"></i>
							<span class="title">系统设置</span>
						</a>
						<ul>
							<li >
								<a href="{:url('User/index')}">
									<span class="title">员工管理</span>
								</a>
							</li>
<!-- 							<li>
								<a href="layout-collapsed-sidebar.html">
									<span class="title">角色管理</span>
								</a>
							</li> -->
						</ul>
					</li>
					<li class="active opened">
						<a href="ui-panels.html">
							<i class="linecons-note"></i>
							<span class="title">仓库作业</span>
						</a>
						<ul>
							<li class="active">
								<a href="{:url('Instorage/index')}"><span class="title">入库管理</span></a>
							</li>
							<li>
								<a href="{:url('Outstorage/index')}"><span class="title">出库管理</span></a>
							</li>
<!-- 							<li>
								<a href="{:url('Storage/index')}"><span class="title">报损管理</span></a>
							</li>
							<li>
								<a href="{:url('Storage/index')}"><span class="title">移库管理</span></a>
							</li> -->
<!-- 							<li>
								<a href="{:url('Storage/index')}"><span class="title">盘点管理</span></a>
							</li> -->
<!-- 							<li>
								<a href="{:url('Storage/index')}"><span class="title">调拨管理</span></a>
							</li> -->
						</ul>
					</li>
					<li>
						<a href="ui-widgets.html">
							<i class="linecons-cog"></i>
							<span class="title">基本设置</span>
						</a>
						<ul>
							<li>
								<a href="{:url('Storage/index')}"><span class="title">仓库管理</span></a>
							</li>
							<li>
								<a href="{:url('Location/index')}"><span class="title">库位管理</span></a>
							</li>
							<li>
								<a href="{:url('Supplier/index')}"><span class="title">供应商管理</span></a>
							</li>
							<li>
								<a href="{:url('Customer/index')}"><span class="title">客户管理</span></a>
							</li>
							<li>
								<a href="{:url('Unit/index')}"><span class="title">计量单位</span></a>
							</li>
							<li>
								<a href="{:url('Category/index')}"><span class="title">产品类别</span></a>
							</li>
							<li>
								<a href="{:url('Product/index')}"><span class="title">产品管理</span></a>
							</li>
						</ul>
					</li>

					
				</ul>