<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>后台管理</title>
				
	<!-- css  -->
	{include file="common/css" /}
	<!-- css  -->
	
</head>
<body >
<div class="app-page-root" >


<!-- main begin -->

<!-- main end -->






</div>	
<!-- Bottom Scripts -->
<!-- js  -->
{include file="common/js" /}
<!-- js  -->

</body>
</html>
<script>

</script>