<form action="{:url('save')}" class="form-save">

    <div class="row">
        <div class="col-md-6">
            
            <div class="form-group">
                <label for="field-1" class="control-label">编号</label>
                <input type="text" class="form-control" name="sn" placeholder="编号" value="{:strtoupper(uniqid())}">
            </div>	
            
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="field-2" class="control-label">名称</label>
                
                <input type="text" class="form-control" name="name" placeholder="名称">
            </div>	
        </div>


    </div>

    <div class="row">

        <div class="col-md-6"> 
            <div class="form-group">
                <label class="control-label">状态</label>
                <select class="form-control" name="status">
                    <option value="0">正常</option>
                    <option value="1">禁用</option>
                </select>
            </div>	
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="field-2" class="control-label">电话</label>
                
                <input type="text" class="form-control" name="tel" placeholder="电话">
            </div>	
        </div>

    </div>


    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                <label for="field-2" class="control-label">官方网站</label>
                
                <input type="text" class="form-control" name="url" placeholder="官方网站">
            </div>	
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            
            <div class="form-group no-margin">
                <label for="field-7" class="control-label">备注</label>
                
                <textarea class="form-control autogrow" name="remark" placeholder="备注"></textarea>
            </div>	
            
        </div>
    </div>

</form>
