<!-- Bottom Scripts -->
<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="/static/admin/js/TweenMax.min.js"></script>
<script src="/static/admin/js/resizeable.js"></script>
<script src="/static/admin/js/joinable.js"></script>
<script src="/static/admin/js/xenon-api.js"></script>
<script src="/static/admin/js/xenon-toggles.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="/static/admin/js/xenon-custom.js"></script>

<script src="/static/admin/js/toastr/toastr.min.js"></script>

<script src="/static/admin/js/layer/layer.js"></script>


<script src="/static/admin/sea.js"></script>
<script src="/static/admin/vue.js"></script>
<script src="/static/admin/common.js"></script>

<script>
// https://seajs.github.io/seajs/docs/#docs
// seajs.config({
// 	// 调试模式
// 	debug: true,
// 	// 文件编码
// 	alias: {
// 		'bootstrap.css': 'css/bootstrap.css',
// 		'index.css': 'css/index.css',
// 		'vue': 'js/vue.js'
// 	},
// 	preload: ['bootstrap.css','index.css','vue']
// });
</script>
