<ul id="main-menu" class="main-menu">
    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
    <li>
        <a href="./main.html" target="main">
            <i class="linecons-cog"></i>
            <span class="title">控制台</span>
        </a>

    </li>
    <li class="active opened">
        <a href="">
            <i class="linecons-desktop"></i>
            <span class="title">系统设置</span>
        </a>
        <ul>
            <li class="active">
                <a href="{:url('admin/index')}" target="main">
                    <span class="title">管理员管理</span>
                </a>
            </li>
            <!-- <li>
                <a href="./role.html" target="main">
                    <span class="title">角色管理</span>
                </a>
            </li> -->
        </ul>
    </li>
    
    <li>
        <a href="">
            <i class="linecons-note"></i>
            <span class="title">仓库操作</span>
        </a>
        <ul>
            <li>
                <a href="{:url('indepot/index')}" target="main">
                    <span class="title">入库操作</span>
                </a>
            </li>
            <li>
                <a href="{:url('outdepot/index')}" target="main">
                    <span class="title">出库操作</span>
                </a>
            </li>
            <li>
                <a href="{:url('search/index')}" target="main">
                    <span class="title">货物查询</span>
                </a>
            </li>
        </ul>
    </li>


    <li>
        <a href="mailbox-main.html">
            <i class="linecons-mail"></i>
            <span class="title">基本设置</span>
        </a>
        <ul>
            <li>
                <a href="{:url('supplier/index')}" target="main">
                    <span class="title">供应商管理</span>
                </a>
            </li>
            <li>
                <a href="{:url('customer/index')}" target="main">
                    <span class="title">客户管理</span>
                </a>
            </li>
            <li>
                <a href="{:url('unit/index')}" target="main">
                    <span class="title">计量单位</span>
                </a>
            </li>
            <li>
                <a href="{:url('express/index')}" target="main">
                    <span class="title">物流管理</span>
                </a>
            </li>
            <li>
                <a href="{:url('location/index')}" target="main">
                    <span class="title">库位管理</span>
                </a>
            </li>

        </ul>
    </li>
    <li>
        <a href="tables-basic.html">
            <i class="linecons-database"></i>
            <span class="title">产品管理</span>
        </a>
        <ul>
            <li>
                <a href="{:url('cate/index')}" target="main">
                    <span class="title">产品类别</span>
                </a>
            </li>
            <li>
                <a href="{:url('brand/index')}" target="main">
                    <span class="title">产品品牌</span>
                </a>
            </li>
            <li>
                <a href="{:url('product/index')}" target="main">
                    <span class="title">产品列表</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="forms-native.html">
            <i class="linecons-params"></i>
            <span class="title">订单管理</span>
        </a>
        <ul>
            <li>
                <a href="forms-advanced.html">
                    <span class="title">入库订单</span>
                </a>
            </li>
            <li>
                <a href="forms-wizard.html">
                    <span class="title">出库订单</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="extra-gallery.html">
            <i class="linecons-beaker"></i>
            <span class="title">报表管理</span>
            <!-- <span class="label label-purple pull-right hidden-collapsed">新</span> -->
        </a>
        <ul>
            <li>
                <a href="extra-icons-fontawesome.html">
                    <span class="title">汇总分析</span>
                </a>
            </li>
            <li>
                <a href="extra-icons-linecons.html">
                    <span class="title">入库分析</span>
                </a>
            </li>
            <li>
                <a href="extra-icons-elusive.html">
                    <span class="title">出库分析</span>
                </a>
            </li>
            <li>
                <a href="extra-icons-meteocons.html">
                    <span class="title">客户分析</span>
                </a>
            </li>
        </ul>
    </li>

<!--     
    <li>
        <a href="charts-main.html">
            <i class="linecons-globe"></i>
            <span class="title">仓库管理</span>
        </a>
        <ul>
            <li>
                <a href="charts-main.html">
                    <span class="title">库区管理</span>
                </a>
            </li>
            <li>
                <a href="charts-range.html">
                    <span class="title">货架管理</span>
                </a>
            </li>
        </ul>
    </li> -->

<!--     
    <li>
        <a href="#">
            <i class="linecons-cloud"></i>
            <span class="title">发货管理</span>
        </a>
    </li> -->

    
</ul>