<form action="{:url('update')}" class="form-save">

    <div class="row">
        <div class="col-md-12">
            
            <div class="form-group">
                <label for="field-1" class="control-label">编号</label>
                <input type="hidden" class="form-control" name="id" placeholder="编号" value="{$row.id}">
                <input type="text" class="form-control" name="sn" placeholder="编号" value="{$row.sn}" disabled="true">
            </div>	
            
        </div>
        
    </div>


    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label for="field-2" class="control-label">名称</label>
                
                <input type="text" class="form-control" name="name" placeholder="姓名" value="{$row.name}">
            </div>	
        </div>

        <div class="col-md-6"> 
            <div class="form-group">
                <label class="control-label">状态</label>
                <select class="form-control" name="status">
                    <option value="0" {:$row['status'] == 0 ? ' selected="true" ' : null } >正常</option>
                    <option value="1" {:$row['status'] == 1 ? ' selected="true" ' : null } >禁用</option>
                </select>
            </div>	
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            
            <div class="form-group no-margin">
                <label for="field-7" class="control-label">备注</label>
                
                <textarea class="form-control autogrow" name="remark" placeholder="备注">{$row.remark}</textarea>
            </div>	
            
        </div>
    </div>

</form>
